.header {
    background-color: #002147; /* A shade of Oxford Blue */
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the sides */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; /* A more classic font */
}

.logo {
    display: flex;
    align-items: center;
}

.logoLink {
    color: white;
    text-decoration: none;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s;
}

.navButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
    font-family: inherit;
    transition: color 0.3s;
}

.navButton:hover {
    color: #61dafb;
}
