.sliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    position: relative;
    text-align: center;
    color: white;
}

.sliderImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 33, 71, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
}

.caption h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}
